version: "3.4"

# web (front-end) depends on api (back-end) depends on (db)
# web -> api -> db [dependency chain]

services:
  yacs_web:
    ports:
      - 80:80
      - 443:443
    environment:
      # https://docs.docker.com/compose/compose-file/#variable-substitution
      - HOST=${HOST:-localhost}
      - ADMIN_PASS=${ADMIN_PASS:-admin}
    volumes:
      - ./src/web/certs:/etc/nginx/cert/

  yacs_api:
    environment:
      - ENV=production
      - DEBUG=False
      - DB_HOST=yacs_db
      - DB_USER=yacs
      - DB_PASS=${DB_PASS:-easy_dev_pass}
      - DB_NAME=yacs
      - DB_PORT=5432
      - WORKERS=${API_WORKERS:-4}
      - FLASK_SIGN_KEY=${FLASK_SIGN_KEY:-secretKey}

  yacs_db:
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=yacs
      - POSTGRES_USER=yacs
      - POSTGRES_PASSWORD=${DB_PASS:-easy_dev_pass}
