fastapi==0.109.2
psycopg2-binary==2.9.9
gunicorn==21.2.0
pandas==1.5.3
alembic==1.13.1
pytest==8.0.0
uvicorn==0.27.0.post1
python-multipart==0.0.7
fastapi-cache2==0.2.1
itsdangerous==2.1.2
sqlalchemy==1.4.51
