<!DOCTYPE html>
<html lang="en">
<head>
  <title>YACS</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="/js/admin.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/scheduling.css">
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
  <body ng-app='admin' >
    <div class="container">
      <h1>Admin Panel</h1>
      <hr>
      <h2>Import Data</h2>
      <section id="import-data">
        <div class="well well-sm">
          Input course data as CSV, for more info, see: <a href=#>http://help.com</a> (show github link for more docs later)
        </div>
        <input type="file" name="" value="">
      </section>
    </div>
  </body>
</html>
